* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #C28B00 #111;
}


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Logo font */
.font-logo {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar link underline effect */
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #B8860B;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

/* Custom scrollbars */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #C28B00;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a87600;
}
